:root {
  --bs-head-color: rgb(4,4,4);
  --bs-menu-color: black;
  --bs-text-color: white;
}
.text-color {
  color: var(--bs-text-color) !important; 
}

.bg-text {
  background-color: var(--bs-text-color) !important;
}
.bg-menu { 
  background-color: var(--bs-menu-color) !important; 
}
body { 
  background-image: url('../assets/img/bg9.png');
}

.bg-primary1 {
  /* background-image: url('../assets/img/bg1.jpg'); */
  background-repeat: no-repeat;
  background-color: var(--bs-head-color) !important;
}
.bg-alternate {
  /*background-color: #2c3e50 !important; */
  /* background-image: url('../assets/img/bg2.jpg'); */
  /* background-color: #ccc; */
}
.bg-alternate1 {
  /* background-color: #111 !important; */
}
.bg-alternate2 {
  /* background-image: url('../assets/img/bg3.jpg'); */
  
}
.bg-alternate3 {
  background-image: url('../assets/img/bg5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-home1 {
  background: linear-gradient(to right, transparent, var(--bs-head-color)),
    url("../assets/img/ronaldo.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.bg-home2 {
  background: linear-gradient(to left, transparent, var(--bs-head-color)),
      url("../assets/img/dhoni.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}
@media (max-width: 575.98px) {
  .bg-home3 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), var(--bs-head-color)),
      url("../assets/img/dhoni.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .h-100vh {
    height: 100vh;
  }
  .page-section {
    padding: 3rem 0 !important;
  }
  .font1 {
    font-size: 1.75rem !important;
  }
}

.bg-home4 {
  background-image: url("../assets/img/bg7.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.box1 {
  padding: 2rem 1rem;
  border: none !important;
}

.box3 {
  padding: 1.5rem 0.5rem;
  border: none !important;
}

.box2 {
  border: 2px solid;
  border-radius: 8px;
  background-color: #0505BB;
}

.bg-color1 {
  background-color: #2980B9 !important;
}
.bg-color2 {
  background-color: #E74C3C !important;
}
.bg-color3 {
  background-color: #7D6608 !important;
}
.bg-color4 {
  background-color: #17A589 !important;
}
.bg-color5 {
  background-color: #F4D03F !important;
}
.bg-color-animation {
  animation: change-button 5s infinite;
}
@keyframes change-button {
  0%{background-color: #2980B9;}
  25%{background-color: #E74C3C;}
  50%{background-color: #7D6608;}
  75%{background-color: #17A589;}
  100%{background-color: #f7c912;}
}

.color-1 {
  color: #1abc9c;
}
.color-2 {
  color: gold;
}
.color-3 {
  color: rgb(247, 166, 17);
}
.color-4 {
  color: black !important;
}
.font1 {
  font-size: 2.5rem;
}
.font2 {
  font-size: 1.25rem;
}
.font-bolder {
  font-weight: 700 !important;
}
.font-game {
  font-family: 'Games', sans-serif;
}
.text-justify {
  text-align: justify !important;
}